@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

// Definimos el estilo por default

:root {
    --primaryColor: hsl(94, %%%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(171, 100%, 41%);
    --witeColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 12%);
    --greyText: hsl(0, 0%, 29%);
    --bgColor: hsl(0, 0%, 98%);
    --inputColor: hsl(330, 12%, 97%);

    /* Fuente y typografía */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
}

.flex {
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

html {
    font-size:90%;
}

a{
    text-decoration: none;
}

li{
    list-style: noce;
}

.icon {
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img, video {
    height: auto;
    width: 100%;
}

.menssage {
    display: none;
}

.showMenssage {
    display: block;
    color: var(--whiteColor);
    background: rgb(255,0,0);
    border-radius: 3px;
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--greyText);
}

.btn .icon {
    margin-right: .5rem;
}

.btn:hover {
    color: var(--primaryColor);
    background: var(--palGreen);
    }